p {
    color: black;
    text-align: center;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    border: 1px solid black;
    background-color: lightgray;
    padding: 5px;
}

#Top {
    font-size: 36px;
}

#Middle {
    font-size: 25px;
}

#Bottom {
    font-size: 15px;
}

.name {
    font-weight: bold;
}